*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    height: 40px;
    text-align: left;
   
}

header svg{
    font-size: 35px;
    margin-left: 10px;
    cursor: pointer;
}

.navbar{
    width: 170px;
    background-color: #333;
    position: absolute;
    height: 95vh;
    padding: 0 30px;
    transition: all .5s;
    left: -100%;
}

.navbar.active{
    left: 0;
}

.navbar ul{
    margin: 0;
    padding: 0;
}

.navbar ul li{
    list-style-type: none;
    margin: 15px 0;
   
}

.navbar ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 0 5px 10px;
    display: block;
    
}

.navbar ul li a:hover{
    color:#fff;
    background-color: #5a5959;
    border-radius: 5px;
}
.navbar ul li a.active{
    color:#fff;
    background-color: #5a5959;
    border-radius: 5px;
}

.navbar ul li a span{
    font-size: 18px;
    margin-right: 5px;
}


.main{
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;

}