*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: #e6e7ed;
}

.cardsReport{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.displayCard{
    margin: 10px;
    display: flex;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    color: black;
    width: 30vh;

}

.cardInfo{
    color: black;
    text-align: left;
    margin-left: 10px;
}



