*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: #e6e7ed;
}

.cardsReport{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.displayCard{
    margin: 10px;
    display: flex;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    color: black;
    width: 30vh;

}

.chartBox{
    margin: 10px;
    margin-left: 19px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    color: black;
    width: 74vw;
    height: 60vh;
}

.cardInfo{
    color: black;
    text-align: left;
    margin-left: 10px;
}

.lineChart{
    border: 2px solid grey;
    border-radius: 5px;
    width: 46vw;
    padding: 10px;
}
.pieChart{
    border: 2px solid grey;
    border-radius: 5px;
    padding: 12px;
    text-align: center;
}

